html,
body{
	height: 100vh;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}
.content{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2F2F2F;
	height: 100vh;
}
h1,
h2{
	color: #000000;
	font-weight: 400;
	font-size: 1.5em;
}
h2{
	font-size: 1em;
}
ol{
	list-style-position: inside;
}
.nav{
	list-style-type: decimal;
}
.inside{
	display: flex;
	margin-bottom: 2em;
}
.form-input{
	background-color: white;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
	padding: 40px;
	position: relative;
	width: 110%;
}
.account{
	background-color: #FCEB6E;
	display: flex;
	flex-direction: column;
	padding: 50px;
	width: 50%;
}
.head{
	margin-bottom: 1.7em;
}
.quote-head{
	display: flex;
	justify-content: space-between;
}
.form{
	background-color: white;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
	padding: 40px;
	position: relative;
	width: 110%;
}
.avatar{
	position: absolute;
	top:-1.7em;
}
.footer{
	display: flex;
	justify-content: flex-end;
	padding: 25px;
}
button{
	color: #736D45;
	background-color: transparent;
	border: 0;
}
.cross{
	font-size: 1.6em;
}
button:hover{
	color: #AAAAAA;
	cursor: pointer;
}
.row{
	display: flex;
}
.cell{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.cell-head{
	display: flex;
	justify-content: space-between;
}
label{
	display: block;
	font-size: 0.8em;
	font-weight: 700;
}
input{
	border: 0;
	border-bottom: 1px solid #AAAAAA;
	padding-bottom: 10px;
}
textarea{
	border: 0;
	border-bottom: 1px solid #AAAAAA;
	padding-bottom: 10px;
}
img{
	border-radius: 50%;
	width: 65px;
	height: 65px;
}

.hide{
	display: none;
}

.container-fluid{
	margin-top:40px;
}
